<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>PantoneChecker</title>
<link rel="stylesheet" href="static/style.css">
</head>
<body>
<div class="header">
    <h1>PantoneChecker</h1>
    <button onclick="logout()">Logout</button>
</div>

<div class="color-request">
    <h2>Neue Farb-Anfrage</h2>
    <input type="text" id="pantone" placeholder="Pantone z.B. P 0186 U">
    <label>Punkte:</label><br>
    <input type="checkbox" id="point1" value="Testliner weiß Coated"> Testliner weiß Coated
    <input type="checkbox" id="point2" value="Testliner braun"> Testliner braun
    <input type="checkbox" id="point3" value="Kraftliner braun"> Kraftliner braun<br>
    <button onclick="sendRequest()">Anfrage senden</button>
    <p id="request-msg"></p>
</div>

<div class="color-list">
    <h2>Farbenliste</h2>
    <table id="colorTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>Pantone</th>
                <th>Farbe</th>
                <th>Status</th>
                <th>Punkte</th>
                <th>Alternative</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<script src="static/js/script.js"></script>
</body>
</html>
